:root {
    --primary: #ddd;
    --dark: #333;
    --light: rgb(239, 239, 239);
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --alarm: #a64452;
}

html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}

input {
    background-color: var(--light);
    width: 3rem;
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

.btn:hover {
    background: var(--light);
    color: var(--dark);
    cursor: pointer;
}

.btn:disabled {
    background: grey;
    color: rgb(153, 153, 153);
    pointer-events: none;
}

.homeheader {
    font-size: 6rem;
    padding: 0;
    margin: 8rem 0 0 0;
    text-align: center;
    text-shadow: var(--shadow);
}

.volumetester {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 128px;
    height: 50px;
}

/* Navigation */

.navbar {
    margin: 20px 20px 32px 20px;
}

.navbar ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
}

.navlink {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    font-size: 1.6rem;
    box-shadow: var(--shadow);
}

.navlink:hover {
    background: var(--dark);
    color: var(--light);
}

/* Timer */

.timer{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    background-color: var(--primary);
    box-shadow: var(--shadow);
    margin: auto;
    width: 50%;
}

.timer h1 {
    margin: 0;
    padding: 0 2.2rem;
    justify-self: start;
    font-size: 1rem;
}

.timer p {
    margin: 0;
    font-size: 4rem;
    position: relative;
    bottom: 0.5rem;
}

.timer .timerbtns button{
margin: 0 1rem
}

/* EggTimer */

.eggtimerapp{
    color: var(--dark);
}

.seteggtimer {
    display: grid;
    grid-template-areas: 'header header'
                         'digits digits'
                         'text   button';
    background-color: var(--primary);
    box-shadow: var(--shadow);
    margin: auto;
    width: 50%;
}

.seteggtimer h2 {
    font-weight: normal;
    grid-area: header;
    padding: 0 2rem;
}
.eggtimerdigits {
    grid-area: digits;
    display: flex;
    justify-content: space-between;
    height: 3rem;
}

.eggtimerdigits div{
    padding: 0 2rem;
}

.seteggtimer .btncontainer {
grid-area: button;
margin: 0 0 1rem 0;
width: 100%;
}

.seteggtimer .btn {
    width: 91%;
    margin-right: 3.8rem;
}

.eggtimertext{
    grid-area: text;
    /* display: inline; */
    padding: 0 2rem;
    margin-top: 0.4rem;
}

.eggtimertext input {
    margin-left: 0.8rem;
    width: 53.5%;
}

.eggtimerapp ul {
padding: 0;
}

.eggtimer {
    min-height: 5rem;
}

@keyframes alarm {
    0% {background-color: var(--primary);}
    50% {background-color: var(--alarm);}
    100% {background-color: var(--primary);}
}

@-webkit-keyframes alarm {
    0% {background-color: var(--primary);}
    50% {background-color: var(--alarm);}
    100% {background-color: var(--primary);}
}
.alarmeggtimer {
    min-height: 5rem;
    animation-name: alarm;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    -webkit-animation-name: alarm;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
}

.eggtimerapp li{
    list-style-type: none;
    background-color: var(--primary);
    box-shadow: var(--shadow);
    margin: auto auto 1rem auto;
    width: 50%;
    
}

.eggtimerform {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.1rem;
}

.eggtimerform p {
    font-size: 1.4rem;
    text-align: center;
    margin: 0.5rem;
    width: 50%;
}

.btncontainer{
    width: 35%;
    margin-left: 6.3%;
}

.eggtimerform .btn{
    width: 100%;
}

/* Pomodoro */

.setpomodoro {
    display: grid;
    grid-template-areas: 'header header'
                         'dials   dials'
                         'button   button';
    background-color: var(--primary);
    box-shadow: var(--shadow);
    margin: auto;
    width: 50%;
}

.setpomodoro h2 {
    font-weight: normal;
    grid-area: header;
    padding: 1rem 0 0 1rem;
    margin: 0;
    text-align: center;
}

.pomodorodialscontainer {
    grid-area: dials;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    padding-right: 10%;
}

.setpomodoro p {
    text-decoration: underline;
}

.setpomodoro .btn {
    margin: 1rem;
    grid-area: button;
    width: 20%;
    justify-self: center;
}

.pomodorodials{
    padding: 1rem;
    display: grid;
    grid-template-areas: 'para para' 
                         'label input';
    grid-template-columns: minmax(150px, auto);
}

.pomodorodials div {
    display: flex;
    flex-direction: column;
}

.pomodorodials p {
    grid-area: para;
    text-align: center;
    padding-right: 8vw;
    font-size: 1.1rem;
}

.pomodorodialslabels{
    grid-area: label;
}

.pomodorodialsinputs{
    grid-area: input;
    margin-right: 6rem;
}



.pomodorotimer {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    box-shadow: var(--shadow);
    width: 50%;
    margin: auto;

    overflow: hidden;
    position: relative;
}

.pomodorotimer::after {
    color: rgb(209, 209, 209);
    content: attr(data-bg-text);
    font-size: 30vh;
    line-height: 27vh;
    position: absolute;
    left: 12%;
    top: 0;
}

.pomodorotimer h2 {
    margin-left: 2rem;
    z-index: 1;
}
.pomodorotimer form {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.pomodorotimer form .btn{
    margin-bottom: 2rem;
    justify-self: center;
    align-self: center;
}
.pomodorotimer form p {
    justify-self: center;
    align-self: center;
    margin: 0 0 1.2rem 0;
    font-size: 4rem;
}




/* Media queries */



@media(max-width:1350px){
    /* Pomodoro */

    .setpomodoro {
        width: 84.5vw;
    }

    .pomodorodials{
        grid-template-columns: minmax(150px, auto);
    }

    .pomodorotimer::after {
        content: none;
    }

}





@media(max-width: 1050px){

    .volumetester {
        display: none;
    }

    /* EggTimer */

    .seteggtimer {
        grid-template-areas: 'header header'
                            'digits digits'
                            'text    text'
                            'button button';
        grid-auto-rows: minmax(15vh, auto);
        width: 100%;
    }

    .seteggtimer h2 {
        text-align: center;
        align-self: center;
        font-size: 1.5rem;
        grid-area: header;
        padding: 0 1rem;
    }
    .eggtimerdigits {
        grid-area: digits;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        justify-self: center;
        justify-content: center;
        width: 80%;
        grid-gap: 1rem;
    }

    .eggtimerdigits div input {
        float: right;
    }

    .seteggtimer .btncontainer {
        grid-area: button;
        align-self: center;
        justify-self: center;
    }

    .seteggtimer .btn {
        display: block;
        margin: auto;
        width: 50%;
        padding: 2rem 1.3rem;
    }

    .eggtimertext{
        grid-area: text;
        justify-items: center;
        text-align: center;
        grid-gap: 1rem;
    }

    .eggtimertext input {
        margin-left: 0;
        margin-top: 1rem;
        width: 50vw;
    }

    .eggtimerform {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1.1rem;
    }

    .eggtimerform p {
        width: 80%;
    }

    .btncontainer{
        width: 50%;
        margin: 1rem 0 1.5rem 0;
    }

    .eggtimer {
        width: 100%;
        min-height: 10rem;
    }

    .eggtimerapp li{
        width: 100%;
        
    }
    
    .eggtimerform .btn{
        width: 100%;
        min-height: 4rem;
    }

}








@media(max-width: 780px){

    .homeheader {
        font-size: 5rem;
    }

    /* Navigation */

    .navbar {
        margin: auto;
        width: 100%;
        margin-bottom: 2rem;
    }

    .navbar ul {
        display: grid;
        grid-gap: 20px;
        padding: 0;
        list-style: none;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: none;
    }

    /* Timer */

    .timer{
        grid-template-rows: 1fr 2fr 3fr;
        width: 100%;
    }

    .timer h1 {
        justify-self: center;
    }

    .timer .timerbtns{
        width: 100%;
    }

    .timer .timerbtns button{
    margin: 1rem auto;
    display: block;
    width: 75%;
    }

    /* Pomodoro */

    .setpomodoro {
        grid-auto-rows: 1fr 3fr 1fr;
        width: 100%;
    }

    .setpomodoro h2 {
        padding: 1rem;
    }
    
    .pomodorodialscontainer {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
        margin-left: 0;
        padding-right: 0;
    }
    
    .setpomodoro p {
        margin-bottom: 0;
    }
    
    .setpomodoro .btn {
        width: 80%;
    }

    .pomodorodials{
        margin-top: -1rem;
        grid-template-columns: auto;
    }
    
    .pomodorodials p {
        padding-right: 0;
    }
    
    .pomodorodialslabels{
        margin-left: 1rem;
    }
    
    .pomodorodialsinputs{
        grid-area: input;
        margin-right: 0;
        margin-left: 3rem;
    }

    .pomodorotimer {
        width: 100%;
    }

    .pomodorotimer h2 {
        text-align: center;
        margin-left: 0;
    }
    .pomodorotimer form {
        display: flex;
        flex-direction: column;
    }
    
    .pomodorotimer form .btn{
        width: 55vw;
        height: 10vh;
    }
}